<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İsim Soyisim</h4>
                <div class="basic-form">
                    <form method="post" asp-action="AddUser" asp-controller="User">
                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="İsim Soyisim" name="namelastname" id="namelast">
                        </div>
                        <h4 class="card-title">KullanıcıAdı</h4>
                        <div class="basic-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username">
                            </div>
                            <h4 class="card-title">Sifre</h4>
                            <div class="basic-form">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Sifre" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isadmin" value="true">
                                    <label class="form-check-label">Admin Mi</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
